<template>
    <svg class="app-icon" viewBox="0 0 20 20" width="1em" height="1em">
        <use v-bind:xlink:href="href"></use>
    </svg>
</template>

<script>
export default {
  name: "icon",
  props: {
    type: String
  },
  computed: {
    href() {
      if (process.browser) {
        //Why this?
        //https://gist.github.com/leonderijke/c5cf7c5b2e424c0061d2
        const baseUrl = window.location.href.replace(window.location.hash, "");
        return baseUrl + `#${this.type}`;
      } else {
        return `#${this.type}`;
      }
    }
  }
};
</script>
