<template>
  <section class="container">
    <div>
      <app-logo/>
      <h1 class="title">
        sprite-loader-example
      </h1>
      <h2 class="subtitle">
        Nuxt.js project
      </h2>
      <h3>Icons below:</h3>
      <p>
        <app-icon type="close"></app-icon>
        <app-icon type="close"></app-icon>
        <app-icon type="close"></app-icon>
      </p>
      <div class="links">
        <a href="https://nuxtjs.org/" target="_blank" class="button--green">Documentation</a>
        <a href="https://github.com/nuxt/nuxt.js" target="_blank" class="button--grey">GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import AppLogo from "~/components/AppLogo.vue";
import AppIcon from "~/components/AppIcon.vue";
//Import the SVG so it gets added to the Sprite Loader
import CloseSvg from "~/assets/svg/close.svg";

export default {
  components: {
    AppLogo,
    AppIcon
  }
};
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.app-icon {
  font-size: 5em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
